# This program will calculate the area of two geometric shapes. As of now, it will calculate the area of a circle and a triangle.  
print "Area Calculator is starting"
option = raw_input("Enter C for Circle or T for Triangle: ")
if option == 'C':
	radius = float(raw_input("Please enter the radius of the circle: "))
	pi = 3.14159
  area = pi * radius**2
  print "The area of the circle is %f" % 	(area)
elif option == 'T':
	base = float(raw_input("Please enter the base of the Triangle: "))
  height = float(raw_input("Please enter the height of the Triangle: "))
  area = 0.5 * base * height 
	print "The area of the Triangle is %f" % (area)
else:
  print "Error! Invalid shape."
 
print "Exiting..."
